<div class="col-md-6">
  <div class="card card-continer">
    <form [formGroup]="updatePasswordFrom" (ngSubmit)="onSubmit()">
      <img id="profile-img" [src]="imageURL" class="profile-image-card" />
      <h3>Reset Your Password</h3>
      <p><strong> Enter name or email to reset password </strong></p>
      <div class="form-group">
        <label><strong>Email</strong></label>
        <input
          type="email"
          formControlName="email"
          class="form-control"
          placeholder="enter name or mail"
          style="margin-top: 15px"
        />
      </div>
      <div
        *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)"
        class="alert alert-danger"
      >
        <div *ngIf="f.email.errors">Email is required.</div>
      </div>

      <div class="form-group">
        <label><strong>Password</strong></label>
        <input
          type="password"
          class="form-control"
          formControlName="password"
          placeholder="password"
          style="margin-top: 15px"
        />
      </div>

      <div
        *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)"
        class="alert alert-danger"
      >
        <div *ngIf="f.password.errors">Password is required.</div>
      </div>
      <br />

      <div class="form-group" style="text-align: center">
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!updatePasswordFrom.valid"
        >
          Update
        </button>
      </div>
    </form>
  </div>
</div>
