<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      {{ modalDialogLabel }} Daily Transaction
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">×</span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="dailyForm" (ngSubmit)="onSubmit()">
      <h1>Daily Form</h1>

      <div class="row from-row">
        <input
          class="col-sm-4 form-control"
          type="hidden"
          formControlName="id"
        />
      </div>

      <div class="row from-row">
        <label class="col-sm-4" for="driverId">Driver</label>
        <select
          formControlName="driverId"
          class="form-control"
          [ngModel]="driverId"
          (change)="driver_change($event.target.value)"
        >
          <option
            *ngFor="let driver of driversData"
            [selected]="driver.id == driverId"
            value="{{ driver.id }}"
          >
            {{ driver.name }}
          </option>
        </select>

        <div
          *ngIf="f.driverId.invalid && (f.driverId.dirty || f.driverId.touched)"
          class="alert alert-danger"
        >
          <div *ngIf="f.driverId.errors">driver is required.</div>
        </div>
      </div>
      <br />

      <div class="row from-row">
        <label class="col-sm-4" for="carId">Car</label>
        <select
          formControlName="carId"
          class="form-control"
          [ngModel]="carId"
          (change)="car_change($event.target.value)"
        >
          <option
            *ngFor="let car of carsData;"
            [selected]="car.id == carId"
            value="{{ car.id }}"
          >
            {{ car.carNo }}
          </option>
        </select>

        <div
          *ngIf="f.carId.invalid && (f.carId.dirty || f.carId.touched)"
          class="alert alert-danger"
        >
          <div *ngIf="f.carId.errors">Car is required.</div>
        </div>
      </div>
      <br />

      <div class="row from-row">
        <label class="col-sm-4">Daily Amount</label>
        <p>{{ dailyAmount }}</p>
      </div>
      <br/>

      <div class="row from-row">
        <label>Start Date</label>
        <input
          type="date"
          formControlName="startedDate"
          class="form-control"
          
          (change)="getDateDifference()"
        />
      </div>
      <br />

      <div class="row from-row">
        <label>End Date</label>
        <input
          type="date"
          formControlName="endDate"
          class="form-control"
          [ngModel]="endDate"
          (change)="getDateDifference()"
        />
      </div>
      <br />

      <div class="row from-row">
        <label class="col-sm-4">Days</label>
        <p>{{days}}</p>
      </div>
      <br/>

      <div class="row from-row">
        <label class="col-sm-4">Total Amount</label>
        <p>{{totalAmount}}</p>
      </div>
      <br/>

      <div class="row from-row">
        <label class="col-sm-4">Paid</label>
        <input
          type="number"
          formControlName="paid"
          class="col-sm-4 form-control"
          placeholder="Enter Paid"
        />

        <div
          *ngIf="f.paid.invalid && (f.paid.dirty || f.paid.touched)"
          class="alert alert-danger"
        >
          <div *ngIf="f.paid.errors">Paid is required.</div>
        </div>
      </div>
      <br />

      <button
        type="submit"
        [disabled]="!dailyForm.valid"
        class="btn btn-primary"
      >
        {{ modalButtonLabel }}
      </button>
    </form>
  </div>
</ng-template>
<div class="mx-auto">
  <button class="btn btn-primary" (click)="newDaily()">New</button>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>transaction Code</th>
      <th>Daily</th>
      <th>Paid</th>
      <th>Reamin</th>
      <th>Total</th>
      <th>Start Date</th>
      <th>End Date</th>
    </tr>
  </thead>
<tr *ngFor="let daily of dailyTransactionsData">
  <td>
    {{ daily.transactionCode }}
  </td>
  <td>
    {{ daily.daily }}
  </td>
  <td>
    {{ daily.paid }}
  </td>
  <td>
    {{ daily.remain }}
  </td>
  <td>
    {{ daily.total }}
  </td>
  <td>
    {{ daily.startedDate }}
  </td>
  <td>
    {{ daily.endDate }}
  </td>
  <!-- <td>
    <button class="btn btn-info" routerLink="/drivers/{{ driver.id }}">
      Edit
    </button>
  </td>
  <td>
    <button class="btn btn-info" (click)="deleteDriver(driver)">
      Delete
    </button>
  </td> -->
</tr>
</table>