@media (min-width: 992px) {
  body {
    max-width: 500px;
    font-family: "Segoe UI", Roboto, Ubuntu, "Open Sans", "Helvetica Neue",
      sans-serif;
  }
}

h1 {
  text-decoration-color: aqua;
}

.form-control {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;

  border-radius: 50px;
}
