<div id="app">
  <!-- <nav
  class="navbar navbar-expand navbar-dark bg-dark"
  *ngIf="route == 'null'"
>
</nav> -->
  <nav
    class="navbar navbar-expand navbar-dark bg-dark"
    *ngIf="route == 'driver'"
  >
    <a href="#" class="navbar-brand">bezKoder</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="addDriver" class="nav-link" routerLink="addDriver">Driver </a>
      </li>
      <li class="nav-item">
        <a href="drivers" class="nav-link" routerLink="drivers/drivers"
          >Drivers</a
        >
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="forgetpassword" class="nav-link" routerLink="forgetpassword"
          >forgetpassword</a
        >
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="profile" class="nav-link" routerLink="profile"></a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>

  <nav
    class="navbar navbar-expand navbar-dark bg-dark"
    *ngIf="route == 'Admin' || route == 'Trainee'"
  >
    <a href="#" class="navbar-brand">Thet</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="daily" class="nav-link" routerLink="daily">Daily</a>
      </li>
      <li class="nav-item">
        <a href="admins" class="nav-link" routerLink="admins">Admins</a>
      </li>
      <li class="nav-item">
        <a href="roles" class="nav-link" routerLink="roles">Roles</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
          <i class="fa fa-user"></i>
          Car
        </a>
        <ul class="dropdown-menu"  ngbDropdownMenu aria-labelledby="navbarScrollingDropdown">
          <li ngbDropdownItem><a class="dropdown-item" href="car"
            routerLink="car"
            >Add Car</a></li>
          <li ngbDropdownItem><a class="dropdown-item" href="cars" class="nav-link" routerLink="cars">Cars</a></li>
        </ul>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
          <i class="fa fa-user"></i>
          Driver
        </a>
        <ul class="dropdown-menu"  ngbDropdownMenu aria-labelledby="navbarScrollingDropdown">
          <li ngbDropdownItem><a class="dropdown-item" href="drivers/addDriver"
            routerLink="drivers/addDriver"
            >Add Driver</a></li>
          <li ngbDropdownItem><a class="dropdown-item" href="drivers" routerLink="drivers">Drivers</a></li>
        </ul>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" style="float:right">
      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
          <i class="fa fa-user"></i>
          {{userName}}
        </a>
        <ul class="dropdown-menu"  ngbDropdownMenu aria-labelledby="navbarScrollingDropdown">
          <li ngbDropdownItem><a class="dropdown-item" href="#">My Profile</a></li>
          <li ngbDropdownItem><a class="dropdown-item" href="forgetpassword" routerLink="updatepassword">Update Password</a></li>
          <li ngbDropdownItem><a class="dropdown-item" href="#">Logout</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </nav>
  <div class="container md-3" style="margin-top: 20px">
    <router-outlet></router-outlet>
  </div>
</div>
