<div>
  <form
    [formGroup]="driverForm"
    class="submit-form"
    (ngSubmit)="onSubmitForm()"
  >
    <h1>Add Driver</h1>
    <div class="row from-row">
      <img
        [src]="imageURL"
        class="rounded-circle my-img"
        *ngIf="imageURL"
        style="margin-top: 20px"
      />
      <input
        formControlName="imageName"
        type="file"
        accept="image/*"
        (change)="onSelectFile($event)"
      />
    </div>
    <br />

    <div class="row from-row">
      <label>Name</label>
      <input
        type="text"
        formControlName="name"
        id="name"
        class="form-control"
        placeholder="John Doe"
        required
      />
      <div
        *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)"
        class="alert alert-danger"
      >
        <div *ngIf="f.name.errors">Driver Name is required.</div>
      </div>
    </div>
    <br />

    <div class="row from-row">
      <label>NRC</label>
      <input
        type="text"
        formControlName="nrc"
        id="nrc"
        class="form-control"
        placeholder="12/DaPaNa(C)012345"
        required
      />
      <div
        *ngIf="f.nrc.invalid && (f.nrc.dirty || f.nrc.touched)"
        class="alert alert-danger"
      >
        <div *ngIf="f.nrc.errors">NRC is required.</div>
      </div>
    </div>
    <br />

    <div class="row from-row">
      <label>License No</label>
      <input
        type="text"
        formControlName="license"
        id="license"
        class="form-control"
      />
      <div
        *ngIf="f.license.invalid && (f.license.dirty || f.license.touched)"
        class="alert alert-danger"
      >
        <div *ngIf="f.license.errors">license is required.</div>
      </div>
    </div>
    <br />

    <div class="row from-row">
      <label>Gender :</label>
      <div class="form-check form-check-inline" style="margin-left: 30px">
        <input
          id="male"
          type="radio"
          class="form-check-input"
          value="male"
          name="gender"
          formControlName="gender"
        />
        <label class="form-check-label" for="male">Male</label>
      </div>

      <div class="form-check form-check-inline" style="margin-left: 30px">
        <input
          id="female"
          type="radio"
          class="form-check-input"
          value="female"
          name="gender"
          formControlName="gender"
          checked
        />
        <label class="form-check-label" for="female">Female</label>
      </div>

      <div class="form-check form-check-inline" style="margin-left: 30px">
        <input
          id="other"
          type="radio"
          class="form-check-input"
          value="other"
          name="gender"
          formControlName="gender"
        />
        <label class="form-check-label" for="other">Other</label>
      </div>
      <div
        *ngIf="f.gender.invalid && (f.gender.dirty || f.gender.touched)"
        class="alert alert-danger"
      >
        <div *ngIf="f.gender.errors">gender is required.</div>
      </div>
    </div>
    <br />

    <div class="row from-row">
      <label>Address</label>
      <input
        type="text"
        formControlName="address"
        id="address"
        class="form-control"
        required
      />
      <div
        *ngIf="f.address.invalid && (f.address.dirty || f.address.touched)"
        class="alert alert-danger"
      >
        <div *ngIf="f.address.errors">address is required.</div>
      </div>
    </div>
    <br />

    <div class="row from-row">
      <label>Phone</label>
      <input
        type="phone"
        formControlName="phone"
        id="phone"
        class="form-control"
        required
      />
      <div
        *ngIf="f.phone.invalid && (f.phone.dirty || f.phone.touched)"
        class="alert alert-danger"
      >
        <div *ngIf="f.phone.errors">address is required.</div>
      </div>
    </div>
    <br />

    <div class="row from-row">
      <label class="col-sm-4">Password</label>
      <input
        type="text"
        formControlName="password"
        class="col-sm-4 form-control"
        placeholder="Enter Password between 6 and 15 characters"
      />

      <div
        *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)"
        class="alert alert-danger"
      >
        <div *ngIf="f.password.errors">Password is required.</div>
      </div>
    </div>
    <br />
    <div class="mx-auto">
      <button class="btn btn-success">Save</button>
    </div>
  </form>
</div>
